.image1 {
	background-image: url("../assets/jerry-zhang-Y8lCoTRgHPE-unsplash.jpg");
}
.image2 {
	background-image: url("../assets/pietro-de-grandi-6U4wogjLArk-unsplash.jpg");
}
.image3 {
	background-image: url("../assets/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg");
}
.image4 {
	background-image: url("../assets/willian-justen-de-vasconcellos-g5FyZvIzUS4-unsplash.jpg");
}
.image5 {
	background-image: url("../assets/sven-scheuermeier-VNseEaTt9w4-unsplash.jpg");
}

.profile-main-page-image {
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: -15px;
	margin-right: -15px;
}

.profile-service-image {
	border-radius: 100%;
	height: 187px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 50px;
	margin-right: 20px;
}

.button1 {
	height: 30px;
	width: 100px;
	margin-top: 10px;
	font-size: 12px;
	border-radius: 5px;
	background-color: white;
	border: 1.5px solid black;
}
